name: CI Checks

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      # TODO add some CI here
      # see https://github.com/backstage/backstage/issues/6568

      # - name: Run CI checks
      #   working-directory: ./pet-store-java-client
      #   run: ./gradlew check
